.user-list-container {
  margin: 3rem auto;
}
.user-list-container li a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--dark-gray);
}

.item {
  margin-top: 10px;
  padding-top: 10px;
}
