.search-bar-container {
  display: flex;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border-radius: 15px;
  background: #fff;
  font-size: 25px;
}
.search-bar-input {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 20px;
  margin-left: 1rem;
}
.search-bar-input:focus {
  outline: none;
}
